* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(1vh + 1vw);
  font-family: Quicksand, Verdana, Tahoma, sans-serif;
  color: white;
}

body {
  background-color: #2081c3;
}

.cardsContainer {
  width: 45em;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  gap: 10px;
}

.Card {
  height: 10em;
  width: 10em;
  padding-bottom: 0.5em;
  padding-top: 0.25em;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #63d2ff;
  transition: transform 0.1s;
}

.Card:hover {
  transform: scale(1.05);
}

.Card img {
  height: 90%;
  width: 90%;
  border-radius: 10%;
  padding-top: 0.1em;
}

.scoreBoard {
  margin: 1.5em 1em 2em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.8em;
}

.Card * {
  pointer-events: none;
  font-size: 0.8em;
}

.scoreBoard * {
  font-size: 2em;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.loadingLabel {
  margin-bottom: 0.5em;
  font-size: 4em;
}

.titleContainer {
  margin: 1.5em 0 2em 1em;
}

.title {
  font-size: 2.5em;
  font-weight: 700;
}

.banner {
  display: flex;
  justify-content: space-between;
}
